body{
    background-color: black;
    color: rgb(3, 158, 248);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
hr{
    border-color:  rgb(3, 158, 248);
}
h1{
    text-align: center;
    
}
h2{
    font-weight: 90;
}